.list {
    list-style-type: none;    
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: Roboto, Montserrat, sans-serif;
}
.page-hat {
    background: var(--WHITE, #FFF);
}

.logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.67;  
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
}

.logo-studio {
    color: var(--NAVY-BLUE, #2E2F42);
}

.page-navigation-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.page-navigation-link:hover,
.page-navigation-link:focus {
    color: var(--OCEAN, #404BBF);
}

.page-navigation-link:active {

}

.contacts-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--OCEAN, #404BBF);
}

.hero {
    background: var(--NAVY-BLUE, #2E2F42);
}

.hero-title {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--WHITE, #FFF);
}

.hero-button {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE, #FFF);
}

.hero-button:hover {
    background: var(--OCEAN, #404BBF);
}

.benefits {
    background: #FFF;
}

.benefits-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.benefits-item-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.team {
    background: var(--CLOUD, #F4F4FD);
}

.team-member {
    background: var(--WHITE, #FFF)
}

.team-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
}

.member-name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.member-position {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.portfolio {
    background: #FFF;
}

.portfolio-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
}

.project-name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.project-type {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.shoes {
    background: var(--NAVY-BLUE, #2E2F42);
}

.shoes-descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
}