h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFF;
}

/* COMMON STYLES END */

/* STYLES MOBILE */

/* HEADER STYLES MOBILE */

.menu {
    display: none;
}

.contacts {
    display: none;
}

.page-hat {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--WHITE, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
        0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-hat {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
}

.logo-studio {
    color: var(--NAVY-BLUE, #2E2F42);
}

/* /HEADER STYLES MOBILE */

/* HERO STYLES MOBILE */

.hero {
    background-color: var(--NAVY-BLUE, #2E2F42);
    padding-bottom: 72px;
    padding-top: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
        url("../images/hero/mobile-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 320px;
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px),
screen and (min-resolution: 2ddpx) and (min-width: 320px),
screen and (min-device-pixel-ratio: 2) and (min-width: 320px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/mobile-bg@2x.jpg");
    }
}

.hero-title {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--WHITE, #FFF);
    width: 100%;
    max-width: 235px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.hero-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--IRIS, #4D5AE5);
    color: var(--WHITE, #FFF);
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* /HERO STYLES MOBILE */

/* OUR BENEFITS STYLES MOBILE */
.benefits {
    background-color: #FFF;
    padding-top: 96px;
    padding-bottom: 96px;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.benefits-icon {
    display: none;
}

.benefits-item {
    column-gap: 15px;
}

.benefits-item-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1,11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-bottom: 8px;
}

.benefits-item-info {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
    align-self: stretch;
    text-align: left;
}
/* /OUR BENEFITS STYLES MOBILE */

/* OUR TEAM STYLES MOBILE */
.team {
    background: var(--CLOUD, #F4F4FD);
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.social-media {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 8px;
}

.social-media-item {
    width: 40px;
    height: 40px;
    stroke: #F4F4FD;
}

.social-media-item-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.social-media-item-link:hover,
.social-media-item-link:focus {
    background-color: #404bbf
}

.social-media-item-icon {
    fill: #f4f4fd;
}

.team-member {
    background-color: var(--WHITE, #FFF);
    width: 264px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
    width: 163px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

}

.member-photo {
    flex-basis: calc((100% - 72px) / 4);
}

.member {
    padding-top: 32px;
    padding-bottom: 32px;
}

.member-name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-bottom: 8px;
}

.member-position {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);

}
/* /OUR TEAM STYLES MOBILE */
/* OUR PORTFOLIO STYLES  */
.portfolio {
    background-color: #FFF;
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}
.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-photo {
    min-width: 288px;
    width: calc((100% - 48px) / 3);
}

.project {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.project-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-bottom: 8px;
}

.project-type {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}
/* /OUR PORTFOLIO STYLES  */

/* FOOTER STYLES  */
.shoes {
    background-color: var(--NAVY-BLUE, #2E2F42);
    padding-top: 96px;
    padding-bottom: 96px;
}

.foot {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    text-align: center;
    max-width: 320px;
    justify-content: center;
}


.logo-shoes {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
    display: inline-block;
    margin-bottom: 16px;
}

.logo-studio-shoes {
    color: #F4F4FD;
}
.shoes-descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
    width: 100%;
    text-align: left;
}
.foot-social {
      
}

.foot-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.foot-social-list {
    display: flex;
    gap: 16px;
}

.foot-social-item {
    width: 40px;
    max-width: 40px;
    height: 40px;
}

.foot-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-social-link:hover,
.foot-social-link:focus {
    background-color: #31d0aa;
}

.social-icon-item {
    fill: #f4f4fd;
}

.foot-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.subscribe-form-field {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    outline: transparent;
    background-color: transparent;
}


.subscribe-form-field-label {
    color: #ffffff;
}

.subscribe-btn {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
}

.subscribe-btn-icon {
    margin-left: 16px;
}
/* /FOOTER STYLES  */

/* BACKDROP STYLES  */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    ;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    padding: 0;
    line-height: 0;
    background-color: #E7E9FC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
    display: block;
    margin: 8px;
    /*fill: #2E2F42;*/
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border: none;
    fill: #FFFFFF;
    background-color: #404BBF;
}

.contact-form-title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-bottom: 16px;
}

.contact-form-field-wrapper {
    margin-bottom: 8px;
}

.contact-form-field-wrapper-end {
    margin-bottom: 16px
}

.contact-form-field-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--LIGHT-SLATE, #8E8F99);
    margin-bottom: 4px;
}

.contact-form-input-wrapper {
    position: relative;
}

.contact-form-field {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.contact-form-field:focus {
    border-color: #4D5AE5;
    outline-offset: 6px;

}

.contact-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-field:focus+.contact-form-field-icon {
    fill: #4D5AE5;
}

.contact-form-message {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    background-color: transparent;
}

.contact-form-message::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

.contact-form-message:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 6px;
}

.contact-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.contact-form-checkbox-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--LIGHT-SLATE, #8E8F99);
}

.privacy-policy-link {
    color: var(--IRIS, #4D5AE5);
    text-decoration-line: underline
}

.contact-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 16px;
    min-height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox:checked+.contact-form-checkbox-label .contact-form-own-checkbox {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.contact-form-checkbox:focus+.contact-form-checkbox-label .contact-form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.contact-form-btn {
    display: block;
    margin-left: 95px;
    margin-right: 96px;
    margin-bottom: 24px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* /BACKDROP STYLES  */

/* STYLES MOBILE END */
@media screen and (min-width: 320px) {
    .mobile-open-btn {
            display: flex;
            border: none;
            background-color: transparent;
            padding: 0;
            line-height: 0;
        }
    
        .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99999999;
            background-color: #FFF;
            visibility: hidden;
            pointer-events: none;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    
        .mobile-menu-container {
            position: relative;
        }
    
        .mobile-menu-close-btn {
            position: absolute;
            width: 24px;
            height: 24px;
            top: 24px;
            right: 24px;
            padding: 0;
            line-height: 0;
            background-color: #E7E9FC;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(0, 0, 0, 0.1);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu-navigation {
            padding-top: 72px;
            padding-bottom: 168px;
        }
    
        .mobile-menu-navigation-list {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    
        .mobile-menu-navigation-link {
            color: var(--NAVY-BLUE, #2E2F42);
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.018em;
            text-transform: capitalize;
        }
    
        .mobile-menu-navigation-link:hover,
        .mobile-menu-navigation-link:focus {
            color: var(--OCEAN, #404BBF);
        }
    
        .mobile-menu-contacts {}
    
        .mobile-menu-contacts-list {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    
        .mobile-menu-contacts-link {
            color: var(--SLATE, #434455);
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
        }
    
        .mobile-menu-contacts-link:hover,
        .mobile-menu-contacts-link:focus {
            color: var(--IRIS, #4D5AE5);
        }
    
        .mobile-menu-social {
            padding-top: 48px;
        }
    
        .mobile-menu-social-title {
            color: var(--NAVY-BLUE, #2E2F42);
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.018em;
            text-transform: capitalize;
        }
    
        .mobile-menu-social-list {
            display: flex;
            gap: 40px;
        }
    
        .mobile-menu-social-item {
            width: 40px;
            max-width: 40px;
            height: 40px;
        }
    
        .mobile-menu-social-link {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu-social-link:hover,
        .mobile-menu-social-link:focus {
            background-color: #31d0aa;
        }
    
        .mobile-menu-social-icon-item {
            fill: #f4f4fd;
        }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 318px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .hero-title {
        text-transform: capitalize;
    }

    .benefits-list {
        gap: 72px;
    }

    .modal {
        width: 288px;
        height: 623px;
    } 
    .contact-form-checkbox-label {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    }

    .contact-form-btn {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 766px;
        margin-left: auto;
        margin-right: auto;
    }
    .menu {
        display: flex;
    }
    
    .contacts {
        display: flex;
    }
    .mobile-menu {
        display: none;
    }

    .mobile-open-btn {
        display: none;
    }
    

    .logo {
        margin-right: 120px;
    }
    /* HEADER STYLES  */
    .page-navigation {
        display: flex;
        align-items: center;
    }

    .page-navigation-list {
        gap: 40px;
        display: flex;
    }

    .page-navigation-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--NAVY-BLUE, #2E2F42);
        padding: 24px 0;
    }

    .page-navigation-link:hover,
    .page-navigation-link:focus {
        color: var(--OCEAN, #404BBF);
    }

    .page-navigation-link:active {}

    .link-hat {
        text-decoration: none;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--OCEAN, #404BBF);
    }

    .link-hat::after {
        content: "";
        left: 0;
        bottom: -3px;
        position: absolute;
        width: 48px;
        height: 4px;
        border-radius: 2px;
        background: #404BBF;
    }

    .contacts {
        font-style: normal;
        display: flex;
        align-items: center;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 8px 0;
    }

    .contacts-link {
        color: var(--SLATE, #434455);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: var(--SLATE, #434455);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-link:hover,
    .contacts-link:focus {
        color: var(--OCEAN, #404BBF);
    }

    /* /HEADER STYLES  */

    /* /HERO STYLES  */

    .hero {
        padding-bottom: 112px;
        padding-top: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero/tablet-bg.jpg");
        max-width: 768px;
    }

   @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2ddpx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
       .hero {
           background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/tablet-bg@2x.jpg");
       }
   }
    .hero-title {
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 36px;
    }
 /* /HERO */

 /* OUR BENEFITS */
 .benefits {

 }

 .benefits-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     /* Заворотка на новий ряд, коли немає місця */
 }

 .benefits-icon {
 }

 .benefits-item {
    width: 356px;
 }

 li.benefits-item:nth-child(odd) {
     margin-right: 24px;
     /* Застосовує margin праворуч для непарних елементів з класом benefits-item */
 }

 li.benefits-item:nth-child(1),
 li.benefits-item:nth-child(2) {
     margin-bottom: 72px;
     /* Застосовує margin праворуч для непарних елементів з класом benefits-item */
 }

 .benefits-item-title {
    display: flex;
    margin-bottom: 8px;
 }

 .benefits-item-info {
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--SLATE, #434455);
 }

 /* /OUR BENEFITS STYLES */

 /* OUR TEAM STYLES */


 .team-list {
     display: flex;
     gap: 0px;
     flex-wrap: wrap;
    justify-content: center;
    /* Вирівнює контент по горизонталі по центру */
    align-items: center;
    /* Вирівнює контент по вертикалі по центру */
 }

li.team-member:nth-child(odd) {
    margin-right: 24px;

    /* Застосовує margin праворуч для непарних елементів з класом my-class */
}
 li.team-member:nth-child(1),
 li.team-member:nth-child(2) {
     margin-bottom: 64px;
     /* Застосовує margin праворуч для непарних елементів з класом my-class */
 }
 
 /* /OUR TEAM STYLES */

 .portfolio {
     background-color: #FFF;
     padding-top: 120px;
     padding-bottom: 120px;
 }

 .portfolio-title {
     text-align: center;
     font-size: 36px;
     font-weight: 700;
     line-height: 1.11;
     letter-spacing: 0.72px;
     text-transform: capitalize;
     color: var(--NAVY-BLUE, #2E2F42);
     margin-bottom: 72px;
 }

 .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
 }

 .portfolio-item {
    width: auto;
 }
 .project-photo {
     min-width: 356px;
     ;
     width: calc((100% - 72px) / 2);
 }


 /* FOOTER STYLES  */

 .foot {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     max-width: 100%;
     column-gap: 24px;
     text-align: left;
 }

 .logo-shoes {
     text-align: left;
 }

 .shoes-descr {
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--CLOUD, #F4F4FD);
     width: 100%;
     max-width: 264px;
 }

 .foot-social-title {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #ffffff;
     margin-bottom: 16px;
 }

 .foot-social-list {
     display: flex;
     gap: 16px;
 }

 .foot-social-item {
     width: 40px;
     max-width: 40px;
     height: 40px;
 }

 .foot-social-link {
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .foot-subscribe {
    align-items: flex-start;
    justify-content: flex-start;
    /* Вирівнює третій елемент (subscribe) вліво */
    margin-right: 54px;
}
 

 .subscribe-title {
     margin-bottom: 16px;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #ffffff;
 }

 .subscribe-form {
     display: flex;
     flex-direction: row;
     gap: 24px;
 }

 .subscribe-form-field {
     width: 264px;
     height: 40px;
     border: 1px solid #ffffff;
     background-color: transparent;
     font-size: 12px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     padding-left: 16px;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     border-radius: 4px;
     color: #ffffff;
     outline: transparent;
     background-color: transparent;
 }


 .subscribe-form-field-label {
     color: #ffffff;
 }

 .subscribe-btn {
     min-width: 165px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #ffffff;
     background-color: #4D5AE5;
     border: none;
     border-radius: 4px;
 }

 .subscribe-btn-icon {
     margin-left: 16px;
 }
 /* /FOOTER STYLES  */
}



@media screen and (min-width: 320px) and (max-width: 1158px) {
    .overlay-text {
        display: none;
    }
    .portfolio-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }
    .menu {
        display: flex;
    }
    
   .contacts {
       display: flex;
   }
    .mobile-menu {
        display: none;
    }

    .mobile-open-btn {
        display: none;
    }

  .logo {
      margin-right: 76px;
      font-family: Raleway, sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--IRIS, #4D5AE5);
    }

  .logo-studio {
      color: var(--NAVY-BLUE, #2E2F42);
    }

  .logo-studio-shoes {
      color: #F4F4FD;
    }

  .page-navigation {
      display: flex;
      align-items: center;
    }

  .page-navigation-list {
      gap: 40px;
      display: flex;
  }

  .page-navigation-link {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--NAVY-BLUE, #2E2F42);
      padding: 24px 0;
  }

  .page-navigation-link:hover,
  .page-navigation-link:focus {
      color: var(--OCEAN, #404BBF);
  }

  .page-navigation-link:active {}

  .link-hat {
      text-decoration: none;
      position: relative;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: var(--OCEAN, #404BBF);
  }

  .link-hat::after {
      content: "";
      left: 0;
      bottom: -1px;
      position: absolute;
      width: 48px;
      height: 4px;
      border-radius: 2px;
      background: #404BBF;
  }

  .contacts {
      font-style: normal;
      display: flex;
      align-items: center;
  }

  .contacts-list {
      display: flex;
      flex-direction: row;
      gap: 40px;
      padding-top: 24px;
      padding-bottom: 24px;
  }

  .contacts-link {
      color: var(--SLATE, #434455);
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--SLATE, #434455);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
      color: var(--OCEAN, #404BBF);
  }

  .hero {
      padding-bottom: 188px;
      padding-top: 188px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
          url("../images/hero/bg.jpg");
      max-width: 1440px;
    background-position: center center;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2ddpx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
      .hero {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/bg@2x.jpg");
      }
  }

  .hero-title {
      margin-bottom: 48px;
  }

  .benefits {
      background-color: #FFF;
      padding-top: 120px;
      padding-bottom: 120px;
  }

  .benefits-list {
      display: flex;
      flex-direction: row;
      gap: 8px;
      justify-content: space-between;
      margin: 0px;
  }
  li.benefits-item:nth-child(odd) {
      margin-right: 0;
      /* Застосовує margin праворуч для непарних елементів з класом benefits-item */
  }

  li.benefits-item:nth-child(1),
  li.benefits-item:nth-child(2) {
      margin-bottom: 0;
      /* Застосовує margin праворуч для непарних елементів з класом benefits-item */
  }
  

  .benefits-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 112px;
      background-color: #f4f4fd;
      border-radius: 4px;
      margin-bottom: 8px;
  }

  .benefits-item {
      width: calc((100% - 72px) / 4);
      margin: 0;
  }

  .benefits-item-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: var(--NAVY-BLUE, #2E2F42);
      margin-bottom: 8px;
  }

  .benefits-item-info {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--SLATE, #434455);
  }

    /* OUR TEAM STYLES */
.team {
    background: var(--CLOUD, #F4F4FD);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

li.team-member:nth-child(1),
li.team-member:nth-child(2) {
    margin-bottom: 0;
    
    
}

li.team-member:nth-child(odd) {
    margin-right: 0;

}

    /* /OUR TEAM STYLES  */
    /* OUR PORTFOLIO STYLES  */
    .portfolio {
    background-color: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}
.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0%);
}

.project-photo {
    min-width: 360px;;
    width: calc((100% - 48px) / 3);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}

.project-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-bottom: 8px;
}

.project-type {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

    /* /OUR PORTFOLIO STYLES  */

    /* FOOTER STYLES  */
    .shoes {
    background-color: var(--NAVY-BLUE, #2E2F42);
    padding-top: 100px;
    padding-bottom: 100px;
}
   
.foot {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    column-gap: 0;
    
}

.foot-logo {
    margin-right: 120px;
}

.logo-shoes {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
    display: inline-block;
    margin-bottom: 16px;
}

.shoes-descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
    width: 100%;
    max-width: 264px;
}

.foot-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.foot-social-list {
    display: flex;
    gap: 16px;
}

.foot-social-item {
    width: 40px;
    max-width: 40px;
    height: 40px;
}

.foot-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.foot-social-link:hover, .foot-social-link:focus {
    background-color: #31d0aa;
}

.social-icon-item {
    fill: #f4f4fd;
}

.foot-subscribe {
    margin-left: 80px;
    margin-right: 0;
}

.subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-form-field{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color:#ffffff;
    outline: transparent;
    background-color: transparent;
}


.subscribe-form-field-label {
    color:#ffffff;
}

.subscribe-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.subscribe-btn-icon {
margin-left: 16px;
}
    /* /FOOTER STYLES  */
}



